<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body class="bg-slate-700">
    <%- include("./partials/nav.ejs") %>

    <div class="container mx-auto px-4 py-10">
        <h1 class="text-slate-950 text-xl font-bold mb-6 text-center">.</h1>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <!-- Latest blog -->
            <% if (blogs.length > 0) { %>
                <% blogs.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt)); %>
                <% const latestBlog = blogs[0]; %>
                <% const profileImageUrl = latestBlog.createdBy ? latestBlog.createdBy.profileImageURL : '/images/man.png'; %>
                <div class="lg:col-span-1 max-h-[40em] overflow-hidden bg-white border-2 border-gray-500 rounded-lg shadow-md">
                    <div class="relative w-full h-60 overflow-hidden">
                        <img class="w-full h-full object-cover filter blur-[2px]" src="<%= latestBlog.coverImageUrl %>" alt="blog image">
                        <div class="absolute inset-0 flex items-end p-5 bg-black bg-opacity-30">
                            <div class="flex items-center">
                                <div class="w-10 h-10 rounded-full bg-cover bg-center border-2 border-white" style="background-image: url('<%= profileImageUrl %>');"></div>
                                <div class="ml-4 text-white text-lg font-semibold">
                                    <% if (latestBlog.createdBy) { %>
                                        <%= latestBlog.createdBy.fullname %>
                                    <% } else { %>
                                        DELETED USER
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class=" break-words p-5">
                        <div class=" flex items-center space-x-2 text-gray-500 text-sm mb-2">
                            <% if (latestBlog.createdBy) { %>
                                <span><%= latestBlog.createdBy.fullname %></span>
                            <% } else { %>
                                <span>Unknown User</span>
                            <% } %>
                            <span>•</span>
                            <% const options = { hour: 'numeric', minute: 'numeric', day: 'numeric', month: 'numeric', year: 'numeric' }; const createdAt = new Date(latestBlog.createdAt).toLocaleString(undefined, options); %>
                            <p class="text-gray-400"><%- createdAt %></p>
                        </div>
                        <h2 class="text-2xl font-bold mb-2 title-class"><%= latestBlog.title %></h2>
                        <a class="text-gray-700 mb-4 text-class hover:text-blue-500 line-clamp-7" href="/blog/<%= latestBlog._id %>">
                            <%= latestBlog.body %>
                        </a>
                    </div>
                </div>
            <% } %>
            
            <!-- Other blogs -->
            <div class="  break-words lg:col-span-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6">
                <% blogs.slice(1).forEach(blog => { %>
                    <% const profileImageUrl = blog.createdBy ? blog.createdBy.profileImageURL : '/images/man.png'; %>
                    <div class="bg-white border-2 border-gray-500 rounded-lg shadow-md overflow-hidden relative max-h-[35em]">
                        <div class="relative w-full h-56 overflow-hidden">
                            <img class="w-full h-full object-cover filter blur-[2px]" src="<%= blog.coverImageUrl %>" alt="blog image">
                            <div class="absolute inset-0 flex items-end p-5 bg-black bg-opacity-30">
                                <div class="flex items-center">
                                    <div class="w-10 h-10 rounded-full bg-cover bg-center border-2 border-white" style="background-image: url('<%= profileImageUrl %>');"></div>
                                    <div class="ml-4 text-white text-lg font-semibold">
                                        <% if (blog.createdBy) { %>
                                            <%= blog.createdBy.fullname %>
                                        <% } else { %>
                                            DELETED USER
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="p-5">
                            <div class="flex items-center space-x-2 text-gray-500 text-sm mb-2">
                                <% if (blog.createdBy) { %>
                                    <span><%= blog.createdBy.fullname %></span>
                                <% } else { %>
                                    <span>Unknown User</span>
                                <% } %>
                                <span>•</span>
                                <% const options={ hour: 'numeric' , minute: 'numeric' , day: 'numeric'
                                    , month: 'numeric' , year: 'numeric' }; const createdAt=new
                                    Date(blog.createdAt).toLocaleString(undefined, options); %>
                                    <p class="text-gray-400"><%- createdAt %></p>
                            </div>
                            <h2 class="text-2xl font-bold mb-2 title-class"><%= blog.title %></h2>
                            <a class="text-gray-700 mb-4 text-class hover:text-blue-500 line-clamp-7" href="/blog/<%= blog._id %>">
                                <%= blog.body %>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>
